<% if comment.body %>
	<div class="container">
		</br>
		<strong class="comment_userid"><%= User.find(comment.user_id).name %></strong>
		<p class="panel">
		  <%= comment.body %>
		</p>
		<hr>
	</div>
<% end %>
