<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<table class="table">

		  <% @posts.each do |post| %>
			<tr>
			  <th class="col-md-2"><%= post.date %>:  <%= link_to post.title, post_url(post) %></span></td>
			  <td class="post_text"><%= post.text.gsub(/\n/, '<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;').html_safe %></td>
			</tr>
		  <% end %>

		</table>
	</div>
</div>
