/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.banner {
	background: #326E6E;
	display: block;
	padding: 40px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 60px;
	color: white;
	text-align: left;
	height: 100px;
}

a {
	color: white;
}

.user_info {
	display: inline;
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 15px;
}

.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
}

.tabnav li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 4px 3px;
	outline: none;
}



.tabnav li a:hover {
	color: #54c4c4;
}

.tab_bar {
	width: 100%;
	float: left;
	background: #1E4242;
	bottom: 0px;
	margin-bottom: 5px;
	display: inline;
	font-family: "Helvetica";
	color: white;
}

a:visited {
	color: #85BEED;
}
