.user_profile {

	h1 {
		padding: 0px;
		clear: left;
	}

}

.signup_info {

	label {
		display: inline-block;
		float: left;
		clear: left;
		width: 150px;
		text-align: left;
	}

	input {
		display: inline-block;
		float: left;
	}
}
